@charset "UTF-8";

body {
	text-align: center;
	color: #400040;
}

div#wapper {
	width: 100%;
	text-align: left;
	min-height: 300px;
	border: 5px solid rgb(73, 4, 4);
	margin: 0 auto;
}

header, footer, nav, aside, section {
	border: 1px solid #999;
	margin: 5px;
	padding: 10px;
}

#main-body {
	margin: 0 200px;
}

nav, section, aside {
	float: left;
	height: 600px;
}
/* px 는 픽셀 값을 말하며 % 는 상위 컨테이너에서 차지하는 비율을 말합니다.*/
nav {
	/*background-color: #c0c0c0;*/
	width: 200px;
}

section {
	/*background-color: green;*/
	width: 1000px;
	height: 1700px;
}

.menu a {
	cursor: pointer;
}

.menu .hide {
	display: none;
	color: darkgray;
}

li.menu {
	margin-top: auto;
	margin-bottom: auto;
	width:auto;
	padding:20px;
}

aside {
	/*background-color: goldenrod;*/
	width: 100px;
}

.support {
	border-radius: 1px;
}

footer {
	height: 50px;
	background-color: blue;
	position: relatiev;
	clear: both;
}

article {
	width: 100%;
	margin-top: 20px;
	background-color: #ffffff;
}
